.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.btn{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}
/* Colors */
.btn-green {
	color: #00cc33;
	border-color: #00cc33;
}
.btn-green:hover {
  background: #00cc33;
  color: #fff;
  border-color: #00cc33;		
}
.btn-green-disabled {
	color: #00cc33;
	border-color: #00cc33;
}


.btn-blue {
	color: #3d90d6;
	border-color: #3d90d6;
}
.btn-blue:hover {
  background: #3d90d6;
  color: #fff;
  border-color: #3d90d6;		
}

.btn-orange {
	color: #FF8C00;
	border-color: #FF8C00;
}
.btn-orange:hover {
  background: #FF8C00;
  color: #fff;
  border-color: #FF8C00;		
}

.btn-red {
	color: #ff0000;
	border-color: #ff0000;
}
.btn-red:hover {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;	
}
.btn-red-disabled {
	color: #ff0000;
	border-color: #ff0000;
}

.btn-white {
	color: #333333;
	border-color: #cccccc;
	opacity:0.7;
}

.btn-white:hover {
	color: #333333;
	border-color: #cccccc;
	opacity: 2;
}
.btn-whitetrans {
	color: #fff;
	border-color: #fff;
	opacity: 0.7;
}

.btn-whitetrans:hover {
	color: #fff;
	border-color: #fff;
	opacity: 2;
}

th {
    background-color: #00339b;
    color: white;
}

.text-mandatory {
	color: #ff0000;
	font-weight: bold;
}

.passed-icon {
	color: #00cc33;
}
.failed-icon {
	color: #ff0000;
}
.pending-icon {
	color: #FF8C00;
}
.blank-icon {
	color: #797979;
}
body {
/*css for full size background image*/
  background: url('https://curiositykilledtheconsumer.files.wordpress.com/2012/05/aiesec-international-internships12.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #060;
  text-align: center;
  color:white;
}
